.wrapper {
  display: grid;
  gap: 32px;
  grid-template: 1fr / auto;
}

.buttonsWrapper {
  display: grid;
  gap: 32px;
  grid-template: 1fr / repeat(2, 1fr);
}

.button {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  padding: 16px;
}

.button:disabled {
  opacity: 0.5;
}
