.button {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  padding: 16px;
  white-space: nowrap;
}

.button:disabled {
  opacity: 0.5;
}

.button[type="submit"] {
  background: #f00;
}
