.wrapper {
  display: grid;
  gap: 32px;
}

.heading2 {
  text-align: center;
}

.inner {
  display: grid;
  gap: 32px;
}

.fieldset {
  background: #fff;
  border: 2px solid #808080;
  border-radius: 4px;
  padding: 16px;
}

.legend {
  background: #fff;
  border: 2px solid #808080;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  width: 160px;
}

.tip {
  font-size: 1.6rem;
  padding: 0 8px;
  white-space: nowrap;
}

.buttonsWrapper {
  display: grid;
  gap: 16px;
  grid-template: auto / repeat(2, minmax(auto, 160px));
  justify-content: center;
}
