.aside {
  display: grid;
  gap: 8px;
  grid-template: 1fr / repeat(2, auto) 60px 60px;
}

.button {
  align-items: center;
  border: 4px solid #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.button:disabled {
  opacity: 0.5;
}

.button path {
  color: #fff;
  stroke: #fff;
}
