.button {
  border: 8px solid #fff;
  border-radius: 8px;
  font-size: 8.4rem;
  font-weight: 900;
  height: 100%;
  padding: 12px 0;
  position: relative;
  transition: 160ms;
  width: 100%;
}

.button:disabled {
  font-size: 4rem;
  opacity: 0.5;
  padding: 0;
}

.stop::before {
  color: #f00;
  content: "■";
  display: block;
  font-size: 2.4rem;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
}
